/*  HTML & Body  */
/*  ------------------------------------------------   */
html,
body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: Roboto, Inter, sans-serif;
  font-size: 16px;
  font-variant-caps: titling-caps  ;
  max-width: 1600px;

  background: var(--mainBackground);
  color: var(--lightText);
  z-index: 1;
}

/*  Typography   */
/*  ------------------------------------------------   */
h1, h2 {
  font-weight: 500;
}


/*  Layout natives  */
/*  ------------------------------------------------   */
main {
  width: var(--mainWidth);
  height: var(--mainHeight);

  align-content: flex-start;
  flex-wrap: wrap;
}

header, main {
  margin: 2em 0 0 3em;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  z-index: 1;
}  

header {
  align-content: center;
  width: 60%;
  background-color: transparent;
}  

/*  Common/shared CSS settings  */
.button,
.frameClassOuter,
.popupSection,
.githubDetails,
.flip-box-front {
  border: 1px solid var(--crispyWhiteOpc);  
}

.invisibleButton,
.githubHeader,
.githubDetails {
  background: transparent;
}

.popupSection,
.githubHeader,
.githubDetails,
.responsiveImg,
.smallAvatar {
  height: auto;
}

.popupSection,
.button,
.githubDetails,
.frameClassOuter  {
  border-radius: var(--niceRoundCorners);
}

/*  Layout classes  */
.button  {
    width: 10em;
    height: 3em;

    background: var(--buttonDark);
    color: var(--buttonText);
    margin-right: 1em;
}

.button:hover, .button:active{
  cursor: grab;
  background-color: var(--buttonHover);
  color: var(--crispyWhite);
}
  
.firstSection {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  z-index:2;
}

.subContainer1, .subContainer2 {
  width: 100%;
  line-height: 14px;
  color: var(--lightText);
  justify-content: flex-start;
  flex-wrap: wrap;
}

.subContainer1 {
  flex-direction: row;
  align-content: space-around;
}

.subContainer2 {
  flex-direction: column;
  align-content: space-between;
}

.sectionText {
  margin: 5px 10px;
}

.loginText {
  margin: 16px 10px;
}

.oppgaveSection01 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.oppgaveSection01, .fullWidthSection {
  min-height: fit-content;
}
.frameClassOuter {
  position: absolute;
  top: 16px;
  right: 150px;
  height: var(--androidHeight);
  width: var(--androidWidth);
  z-index: 3;
}

.topFrame, .bottomFrame {
  padding:0;
  margin:0;
  width: var(--androidWidth);
  overflow:hidden;
  animation-duration: 1.5s;
}

.topFrame {
  position: absolute;
  height: var(--androidTopFrame);
  width:100%;
  top: 0;
  background-image: url('image/topFrameBG2.jpg');
  border-radius: var(--niceRoundCorners) var(--niceRoundCorners) 0 0;
  animation-name: slideup1;
}

.bottomFrame {
  position: absolute;
  height: var(--androidBottomFrame);
  bottom: 0;
  background-image: url('image/bottomFrameBG.jpg');
  border-radius: 0 0 var(--niceRoundCorners) var(--niceRoundCorners);
  
  display:flex;
  flex-direction: row;
  justify-content: center;
  animation-name: slideup2;
}

.invisibleButton {
  position: absolute;
  bottom: 0;
  color: transparent;
  width: 100%;
  height: 20%;
  border: 0; 
  border-top: 1px solid white;
}

.popupElements {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

.popupSection {
  position: relative;
  width: 25vw;
  background-color: var(--popupBackground);
  color: var(--theDarkside);
  padding: 18px;
}

.popupSection #error-msg {
    width: 30vw;
}

.popupSection::first-line, .popupSection::first-letter {
  font-weight:600;
  font-size: larger;
  background-color: var(--popupBackground);
  color: var(--popupFLcolor);
  line-height: 18px;
  }

.popupSection::first-letter {
  font-size: 30px;
  }

.fullWidthSection { /*  AudioVisual part of the site only */
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 16px;
  width: 80%;
}
  
.oppgaveSection02 {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-start;
  width: 80%;
}
  
.oppgaveSection03 {
  margin: 10vh 2vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  align-items: flex-start;
  width: 100%;
}

.githubHeader {
  width: 100%;
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.githubDetails {
  width: 42%;
  padding: 5px 10px 20px 20px;
  margin: 2vh 2vw 2vh 0;
  backdrop-filter: sepia(30%);

  overflow: hidden;

  /*  Handle text overflow - keep the stuff inside it's defined limits  */
  word-wrap: normal;
  overflow-wrap: anywhere;
}

.githubList {
  padding-left: 8px;
}

.githubList li {
  font-weight: 100;
  color: var(--lightText);
}
  
.pageheading {
  color: var(--lightText);
  font-size: 18px;
  font-weight: normal;
  text-align: left;
}

.opaqueText {
    color: var(--lightText);
    opacity: 0.9;
}

.season {
  background-color: transparent;
}

.subText {
    font-size: small;
    color: var(--lightText);
    padding: 0em 0em 0em 2em;
}

.tightHeading{
  margin:0;
}
  
.uthevetSkrift {
  font-weight: 500;
  color: var(--darkerText);
}

.seasonText {
  display: block;
  margin-left: 16px;
  line-height: 20px;
  color: var(--initialGrey);
}

.audiosection {
  padding-left: 10px;
  width: 45%;
}

.youtubeSection, .videosection {
  width: 50%;
}

.audioControl, .audioSource {
  height: 25px;
  margin-top: 10px;
  color: var(--lightText);
  opacity: 0.4;
}

.responsiveImg {
  margin: 16px 0px 10px 10;
  padding-top:10px;
  width: 5.6vw;
}
  
.smallAvatar {
  padding: 2vh 0 0 0;
  width: 5vw;
  margin:0;
}
    
/*  Layout Id's  */
/*  ------------------------------------------------   */
#audiovisual-div {
  position: absolute;
  display: none;
}

#textbased-div {
  display: flex;
}

#botframesect-elm {
  z-index: 5;
  position: absolute;
  right: 5vw;
  top: 65vh;
  animation-duration: 2s;
  animation-name: slideInPlace;
}

#error-msg {
  z-index:5;
  position: absolute;
  left: 22vw;
  top: 4vh;
  animation-duration: 2s;
  animation-name: slideInPlace;
}  

/* Animations */
/*  ------------------------------------------------   */
@keyframes slideup1 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }}
  

@keyframes slideup2 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }}
    

@keyframes slideInPlace {
  0% {
    /* transform: translateY(-100%); */
    transform: translateX(-350%);
    opacity: 0%;
  }
  100% {
    /* transform: translateY(0%); */
    transform: translateX(0%);
    opacity: 100%;
  }
}

/*  ------------------------------------------------   */
/*               flip animation test                   */
.flip-box {
  background-color: transparent;
  width: 750px;
  height: 750px;
  perspective: 900px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  z-index: 5;

}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--mainBackground);
  background-image: url('./image/containersBWb.jpg');
  background-size: cover;
  color: var(--mainDark);
}

/* Style the back side */
.flip-box-back {
  position: relative;
  top: -300;
  left:-800;

  width: 200%;
  height: 100%;
  color: var(--lightText);
  transform: rotateY(180deg);
}
/*  ------------------------------------------------   */
